run = "npm run dev"
modules = ["nodejs-20"]
hidden = [
  ".config",
  "tsconfig.json",
  "tsconfig.node.json",
  "vite.config.js",
  ".gitignore",
]
entrypoint = "src/App.tsx"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "vm"
run = "serve -s dist"
build = ["npm", "run", "build"]

[[ports]]
localPort = 5173
externalPort = 5173
